<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>icestreamer</title>
		<link rel="stylesheet" href="styles/pure-min.css">
		<link href="styles/app.css" rel="stylesheet" type="text/css"/>
	</head>
	<body>

		<div class="layout">
			<div class="header">
				<h1 class="brand-title">icestream</h1>
			</div>


			<div class="content">
				<div class="view">
					<form class="pure-form" action="" onSubmit="return false;">
						<fieldset>
							<legend>Search for files in your database</legend>
							<input type="text"  id='filterInput' value='' placeholder="Search...">
							<button class="pure-button pure-button-primary" id='filterButton'>Go</button>
							<button class="pure-button button-success" id='m3uButton'>m3u</button>
							<button class="pure-button button-success" id='rawButton'>raw</button>
							<button class="pure-button button-warning" id='playItButton'>Play!</button>
							<button class="pure-button button-error" id='clearButton'>Clear</button>
						</fieldset>
					</form>
					<p>
						<span id="found-placeholder"></span>
						&nbsp;<button class="pure-button button-xsmall" id='renderAllButton'>render all</button>
					</p>
					<span id="items-list-placeholder"/>
				</div>
			</div>
			<div id="status-placeholder"></div>
			<div class="footer">
				<hr />
                <div class="pure-menu pure-menu-horizontal">
                    <ul>
                        <li class="pure-menu-item"><a href="https://bitbucket.org/dmn/icestreamer/src/tip/README.md?at=default" class="pure-menu-link">About</a></li>
                        <li class="pure-menu-item"><a href="https://bitbucket.org/dmn/icestreamer" class="pure-menu-link">Code</a></li>
                    </ul>
                </div>
            </div>

		</div>
		<script src="scripts/zepto.min.js"></script>
		<script src="scripts/lodash.min.js"></script>
		<script src="scripts/backbone-min.js"></script>

		<!-- Templates -->

		<script type="text/template" id="list-template">
			<div id="items-list"></div>
		</script>

		<script type="text/template" id="status-template">
			<pre><%= status %></pre>
		</script>

		<script type="text/template" id="found-template">
			<% if (visible) { %>
			<% if (searching) { %>
				Searching...
			<% } else { %>				
				Found <b><%= count %></b> <%= count == 1 ? 'item' : 'items' %>.
			<% } %>
			<% } else { %>
			<% } %>
		</script>

		<script type="text/template" id="item-template">
			<% if (_.isEmpty(tags)) { %>
				<span class="tags-title"><%= name %></span>
				<span class="infoButton" style="cursor:pointer; color:red; font-family:sans-serif;">[info]</span>
			<% } else { %>
				<span class="tags-artist"><%= tags.Artist %></span>&nbsp;
				<span class="tags-album"><%= tags.Album %></span>&nbsp;
				<span class="tags-year"><%= _.isEmpty(tags.Year) ? '' : '(' + tags.Year + ')' %></span>
				<br/>
				<span class="tags-title"><%= _.isEmpty(tags.Title) ? tags.path : tags.Title %></span>&nbsp;
				<span class="tags-length"><%= tags.Length %></span>
			<% } %>
		</script>

		<script src="scripts/app.js"></script>
	</body>
</html>
